{
	debug
	admin unix//tmp/caddy.sock {
		origins caddy-wants-origin-for-unix-socket
	}
	http_port 9080
	https_port 9443
}

http://python.{$DOMAIN:localhost} {
	bind 0.0.0.0
	reverse-bin * {
		exec python3 -m http.server 8001
		reverse_proxy_to :8001
		readiness_check HEAD /
	}
}

http://*.{$DOMAIN:localhost} {
	bind 0.0.0.0
	reverse-bin * {
		exec python3 discover-app.py :8002 /tmp/caddy.sock caddy-wants-origin-for-unix-socket
		dir ./examples/reverse-proxy/apps/discover-app
		reverse_proxy_to :8002
		readiness_check HEAD /
	}
}

http://dynamic.{$DOMAIN:localhost} {
	bind 0.0.0.0
	reverse-bin * {
		dynamic_proxy_detector ./site-detector.sh
	}
}
